{% extends "layout.html" %}

{% block content %}
<h1 class="mt-4">Добавить доход</h1>
<form method="post" action="{{ url_for('add_income') }}">
    <div class="mb-3">
        <label for="category" class="form-label">Категория</label>
        <select class="form-select" id="category" name="category" required>
            <option value="Зарплата+премия">💼 Зарплата+премия</option>
            <option value="Доход от консультаций">🗣️ Доход от консультаций</option>
            <option value="Доход от аренды">🏠 Доход от аренды</option>
            <option value="Cashback, %">💳 Cashback, %</option>
            <option value="Возвраты налогов, долга">💵 Возвраты налогов, долга</option>
            <option value="Подарки">🎁 Подарки</option>
            <option value="Продажа б/у товаров">🛍️ Продажа б/у товаров</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="amount" class="form-label">Сумма</label>
        <input type="number" class="form-control" id="amount" name="amount" required>
    </div>
    <button type="submit" class="btn btn-primary">Добавить доход</button>
    {% if error %}
    <div class="alert alert-danger mt-3" role="alert">
        {{ error }}
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success mt-3" role="alert">
        Доход успешно добавлен!
    </div>
    {% endif %}
</form>
{% endblock %}
