/* Стили для таблицы с белым текстом */
.table {
    color: white; /* Устанавливаем белый цвет текста */
}

/* Стили для заголовков таблицы (th) */
.table th {
    color: white; /* Устанавливаем белый цвет текста для заголовков */
}

/* Стили для ячеек таблицы (td) */
.table td {
    color: white; /* Устанавливаем белый цвет текста для ячеек */
}
